@charset "UTF-8";

.common {
	display: block;
}

.normal {
	composes: common;
	width: 100px;
	height: 100px;
	border: 1px solid gray;
	padding: 10px;
	background-color: rgba(255, 255, 255, 0.8);
}

.normal + .normal {
	border-left-width: 0;
}

.horse {
	opacity: 0;
	width: 10px;
	height: 10px;
	background-color: red;
}

.on .horse {
	opacity: 1;
}